.screen-header {
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
   padding: var(--horizontal-space); /*공용변수사용*/
   align-items: center;
}
.screen-header__title {
   font-size: 30px;
   font-weight: 600;
}
.screen-header__icons span {
   margin-left: 25px;
}
