.screen-header {
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
   padding: var(--horizontal-space); /*공용변수사용*/
   align-items: center;
   margin-bottom: 15px;
}
.screen-header__title {
   font-size: 30px;
   font-weight: 600;
}
.screen-header__icons span {
   margin-left: 25px;
}
.screen-header__icons {
   display: flex;
   position: relative;
}
@keyframes rotateGear {
   form {
      transform: none;
   }
   to {
      transform: rotateZ(360deg);
   }
}

.screen-header__icons .fa-gear:hover {
   animation: rotateGear 1s ease-in-out infinite;
}
